@model ĐACS.Models.SANPHAM

@{
    ViewBag.Title = "XoaSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn muốn xoá sản phẩm này?</h3>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.TENSP)</th>
        <th>@Html.DisplayNameFor(model => model.GIA)</th>
        <th>@Html.DisplayNameFor(model => model.MOTA)</th>
        <th>@Html.DisplayNameFor(model => model.HINH)</th>
        <th>@Html.DisplayNameFor(model => model.SLT)</th>

        <th>@Html.DisplayNameFor(model => model.MALOAI)</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.TENSP)</td>
        <td>@Html.DisplayFor(model => model.GIA)</td>
        <td>@Html.DisplayFor(model => model.MOTA)</td>
        <td><img src="@Html.DisplayFor(model => model.HINH)" width="180" /></td>
        <td>@Html.DisplayFor(model => model.SLT)</td>       
        <td></td>
    </tr>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

